# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
0-release/
**cmake-build-release
**.idea
*.user
bak/
deltaNote_Android/
build-deltaNote_client_window-Desktop_Qt_6_2_3_MinGW_64_bit-Release/
deltaNote_client/cmake-build-debug
